@keyframes run-animation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  
  .countdown-timer {
    text-align: center;
  }
  
  
  .countdown-timer form {
    margin-bottom: 20px;
  }
  
  .countdown-timer input[type="number"] {
    width: 50px;
    margin: 0 5px;
    text-align: center;
  }
  
  .countdown-timer span {
    margin: 0 5px;
    font-size: 20px;
  }
  
  /* button */
  .countdown-timer button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .countdown-timer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .countdown-timer button:hover {
    background-color: #0056b3;
  }
  
  
  .countdown-timer .time-remaining {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  
  .running {
    animation: run-animation 10s infinite linear;
    background-image: url('https://i.pinimg.com/originals/fa/8f/57/fa8f575da22579f82e3a2ce8535d46d5.gif'); 
    background-size: contain; 
    background-repeat: no-repeat;
  }
  
  .stopped {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://clipart-library.com/images/kcKoxXz7i.gif'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh; 
  }
  
  
  